.Sidebar {
    margin: 10px;
    font-family: inherit;
    padding: 0 10px;
    box-sizing: border-box;
}

.Sidebar h4 {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(168, 131, 131, 0.479);
}

.Sidebar h4:hover {
    color: #13aff0;
}

.Sidebar h3 {
    padding: 0px 0px 5px 0px;
    border-bottom: 4px solid blueviolet;
    margin: 0px 0px 10px 0px;
}