 .share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.share .socialIcon {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

 .share .socialIcon a {
    margin: 0 10px;
}

@media (max-width: 499px) {

    .share {
        flex-direction: column;
    } 
    
}