.NavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: bold;
    height: 100%;
    vertical-align: middle;
}

@media (min-width: 500px) {
    .NavItems {
       flex-flow: row;
    }

    .NavItems .user .userIcon {
        position: relative;
        top: -2px;
        font-size: 30px;
    }

    .NavItems .user {
        position: relative;
        display: inline-block;
    }

    .NavItems .user .dropdown {
        display: none;
        position: absolute;
        top: 70px;
        right: -25px;
        background-color: #f9f9f9;
        min-width: 130px;
        box-shadow: 0px 8px 16px 0px rgba(85, 41, 41, 0.2);
        z-index: 1;
    }

    .NavItems .user:hover .dropdown {
        display: block;
    }

    .dropdown p {
        padding: 10px;
        cursor: pointer;
        margin: 0;
    }

    .dropdown p:hover {
        background-color: rgb(58, 24, 24);
        color: white;
    }

}



