.NavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: bold;
    height: 100%;
    vertical-align: middle;
}

@media (min-width: 500px) {
    .NavItems {
       flex-flow: row;
    }
}

