.Navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(224, 213, 203);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Navbar nav {
    height: 100%;
}

.Navbar a {
    color: rgb(112, 43, 43);
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.Navbar a:hover {
    color: rgb(72, 109, 209);
}


