.Navbar {
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Navbar nav {
    height: 100%;
}

.Navbar a {
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.Navbar .drawer {
    display: none;
}

@media (max-width: 499px) {
    .desktopOnly {
        display: none;
    }

    .Navbar a {
        position: relative;
        font-size: 24px;
        right: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .Navbar .drawer {
        display: block;
        cursor: pointer;
    }
}

