.Navbar {
    height: 10vh;
    width: 100%;
    position: fixed;
    font-family: inherit;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Navbar nav {
    height: 100%;
}

.Navbar h4 a{
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.Navbar .drawer {
    display: none;
}

.desktopOnly {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 499px) {
    .desktopOnly {
        display: none;
    }

    .Navbar a {
        position: relative;
        font-size: 24px;
        right: 20px;
    }

    .Navbar .drawer {
        display: block;
        cursor: pointer;
    }
}

