.Items {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 10px;
}

.Items a {
    padding: 10px;
    border: 1px solid rgba(161, 96, 96, 0.486);
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 5px 1px #888888;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
}

.Items a:active,
.Items a.active,
.Items a:hover {
    padding: 10px;
    box-shadow: 2px 2px 5px 5px #888888;
    /* position: relative;
    animation: mymove 2s infinite; */
}

/* @keyframes mymove {
    0%   {background: red; width: 0;}
    100% {background: red; width: 100%;}
} */
  
@media (min-width: 500px) {
    .Items {
        margin: 0;
        width: auto;
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .Items a {
        border-radius: 0;
        box-shadow: none;
        font-size: 18px;
        height: 100%;
        padding: 24px 10px;
        border: none;
        border-bottom: 4px solid transparent;
        /* transition: background-color border-bottom color 1.5s;
        transition: border-bottom 1.5s;
        transition: color 1.5s; */
    }
    
    .Items a:active,
    .Items a.active {
        padding: 24px 10px;
        border-radius: 0px;
        color: black;
        box-shadow: none;
        border-bottom: 4px solid black;
        background-color: white;
    }
    
    .Items a:hover {
        border-bottom: 4px solid black;
        border-left: 1px solid rgba(161, 96, 96, 0.486);
        border-right: 1px solid rgba(161, 96, 96, 0.486);
        color: black;
        box-shadow: none;
        padding: 24px 10px;
        background-color: white;
        /* position: relative;
        animation: mymove 2s infinite; */
    }
}