.Items {
    width: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
}

.Items {
    margin: 0 15px;
}

/* .Items a {
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 100%;
    padding: 24px 10px;
    border: none;
    border-bottom: 4px solid transparent;
} */

/* .Items a:active,
.Items a.active,
.Items a:hover {
    padding: 24px 10px;
    border-radius: 0px;
    box-shadow: none;
} */


/*   
@media (max-width: 500px) {
    .Items {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.Items a {
    border: 1px solid rgba(161, 96, 96, 0.486);
    color: white;
    box-shadow: 2px 2px 5px 1px #888888;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
}

.Items a:active,
.Items a.active,
.Items a:hover {
    padding: 10px;
    box-shadow: 2px 2px 5px 5px #888888;
}
} */