.cityBox {
    width: 246px;
    height: 91px;
    border: 1px solid rgba(160, 122, 122, 0.322);
    box-sizing: border-box;
    background-color: rgb(240, 237, 230);
    border-radius: 5px;
    float: left;
    cursor: pointer;
    margin: 10px 30px;
}

.cityBox:hover {
    color: #456be9;
    box-shadow: 2px 2px 5px 2px grey;
}

.cityBox img {
    width: 110px;
    height: 90px;
    float:  left;
}

.cityBox h4 {
    position: relative;
    top: 16px;
    left: 22px;
}

 @media (max-width: 480px) {
    .cityBox {
        width: 300px;
    }

    .cityBox h4 {
        top: 10px;
        left: 40px;
        font-size: 19px;
    }
}

/* @media (max-width: 808px) {
    .cityBox {
        width: 200px;
        height: 70px;
    }

    .cityBox h4 {
        top: 10px;
        left: 20px;
        font-size: 16px;
    }
    .cityBox img {
        width: 80px;
        height: 70px;
        float:  left;
    }
}

@media (min-width: 808px) {
    .Cards {
        width: 46%;
    }
    .Cards img {
        height: 150px;
    }
} */