.cityBox {
    height: auto;
    border: 1px solid rgba(160, 122, 122, 0.322);
    color: black;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: initial;
    align-items: center;
    
}

.cityBox:hover {
    box-shadow: 2px 2px 5px 1px grey;
}

.cityBox img {
    width: 100px;
    height: 80px;
}

.cityBox h4 {
    margin: 0 20px;
}

 @media (max-width: 480px) {

    .cityBox h4 {
        top: 10px;
        font-size: 19px;
    }
}

/* @media (max-width: 808px) {
    .cityBox {
        width: 200px;
        height: 70px;
    }

    .cityBox h4 {
        top: 10px;
        left: 20px;
        font-size: 16px;
    }
    .cityBox img {
        width: 80px;
        height: 70px;
        float:  left;
    }
}

@media (min-width: 808px) {
    .Cards {
        width: 46%;
    }
    .Cards img {
        height: 150px;
    }
} */